.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 60px;
  font-family: "Inter", sans-serif;
}

.feature-left {
  flex: 1;
}

.feature-tag {
  padding: 6px 14px;
  background: #e8f0ff;
  color: #2a57ff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.feature-title {
  font-size: 40px;
  margin-top: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #0b1225;
}

.feature-title span {
  color: #2a57ff;
  background: rgba(42, 87, 255, 0.08);
  padding: 4px 10px;
  border-radius: 8px;
}

.feature-desc {
  margin-top: 20px;
  color: #0b1225;
  line-height: 1.6;
  font-size: 17px;
}

.feature-link {
  display: inline-block;
  margin-top: 25px;
  color: #0b1225;
  font-weight: 600;
  text-decoration: none;
}

.feature-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 22px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 450px;
}

.feature-card img {
  width: 100%;
  border-radius: 16px;
}

/* Responsive */
@media (max-width: 900px) {
  .feature-section {
    flex-direction: column;
    text-align: center;
  }

  .feature-right {
    width: 100%;
  }

  .feature-card {
    margin-top: 20px;
  }
}


.reverse {
  flex-direction: row-reverse;
}
