.hero {
  width: 100%;
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  /* background: #ffffff; */
}

.hero-containerr {
  text-align: center;
  max-width: 900px;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
}

.highlight {
  background: #e6edff;
  color: #2d68ff;
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: 700;
}

.hero-tags {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  background: #e6edff;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 14px;
  color: #2d68ff;
  font-weight: 600;
  border: 2px solid #c9d9ff;
}
