
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}


/* CONTAINER */
.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 90px;
  height: auto;
  object-fit: contain;
}

.brand {
  
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #0b1225;
  font-family: "Exo 2", sans-serif;
}

/* CENTER LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #0b1225;
  font-size: 17px;
  transition: 0.25s;
}

.nav-links li a:hover {
  color: #0055ff;
}

/* CONTACT BUTTON */
.cta-btn {
  background: #3b7dff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #2f68e8;
}


.mobile-btn {
  display: none;
}


.hamburger-wrapper {
  display: none;
}



/* Tablet */
@media (max-width: 992px) {
  .nav-right {
    display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  /* Show hamburger */
  .hamburger-wrapper {
    display: block;
  }

  /* Mobile menu panel */
  .nav-links {
    position: fixed;
    top: 90px; 
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
    border-left: 1px solid #eaeaea;
    transition: 0.3s ease;
  }

  .nav-links.open {
    right: 0;
  }

 
  .mobile-btn {
    display: block;
    margin-top: 20px;
  }
}

