* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV WRAPPER */
.nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
 
  width: 80px;   
  height: auto;
  object-fit: contain;
}


.brand {
  letter-spacing: -0.5px;   
  font-weight: 600;
  color: #1a1a1a;
}

/* CENTER LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 17px;
  transition: 0.25s;
}

.nav-links li a:hover {
  color: #0055ff;
}

/* CONTACT BUTTON */
.cta-btn {
  background: #3b7dff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #2f68e8;
}

/* Hide mobile button on desktop */
.mobile-btn {
  display: none;
}

/* HAMBURGER */
.hamburger-wrapper {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .nav-right {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Show hamburger */
  .hamburger-wrapper {
    display: block;
  }

  /* Hide desktop nav links */
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
    border-left: 1px solid #eaeaea;
    transition: 0.3s ease;
  }

  .nav-links.open {
    right: 0;
  }

  /* Show contact button inside menu */
  .mobile-btn {
    display: block;
    margin-top: 20px;
  }
}

